

#title {
  color: white;
  margin-bottom: 40px;
  text-align: center;
  width: fit-content;
}

#textStyle {
  padding: 15px;
  color: rgb(183, 183, 183);
  font-size: 1.2em;
}

.typewriter h1 {
  overflow: hidden; 
  border-right: .12em solid black; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/* White Glass card */
.box {
  background: rgba(214, 214, 214, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(219, 219, 219, 0.7);
  width: fit-content;
  margin: 50px;
  padding: 30px;
}
